version: '3'
services:
  jenkins-slave:
    build: .
    restart: unless-stopped
    privileged: true
    environment:
      - JENKINS_URL=...
      - JENKINS_SECRET=...
      - JENKINS_AGENT_NAME=...
      - JENKINS_AGENT_WORKDIR=/home/jenkins/agent
#    volumes:
#      - ./docker:/var/lib/docker
#      - ./jenkins_home:/home/jenkins/agent
